
body {
  font-family: Garamond, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.animation {
    animation: fadeIn 1s linear;
}

@keyframes fadeIn {
    98% { opacity: 80; transform: rotate(5deg)}
    99% { opacity: 80; transform: rotate(3deg)}
    100% { opacity: 100; }
}

.wrapper {
  max-width: 1300px;
  min-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.newTask {
  border: none;
  font-size: 23px;
  background: transparent;
  color: #fff;
}

.taskForm p:last-child{
 display: flex;
 justify-content: space-around;
  margin-top: 10px;
}
#backlogUl {
    position: absolute
}
#backlogUl li {
    font-style: italic;
}
.newTask:hover {
    color: #89D9FF;
    transform: scale(1.2);
    transition: 1s;
}
h4, h3 {
  text-align: center;
}
h4 {
  color: #89D9FF;
  font-weight: bold;
  margin-left: 10px;
}
#notify {
  position: fixed;
  width: 300px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background: rgba(226, 226, 226, 0.7);
  border-radius: 3px;
  border: 1px solid #FF7285;
  font-size: 18px;
  display: none;
}

#notify i {
  cursor: pointer;
  position: absolute;
  right: 3px;
  color: #808080
}
#notify i:hover {
  color: #4C4C4C;
}
.newBlock {
  background: #ddd;
  height: 60px;
  padding: 0 5px 0 5px;
  border-radius: 10px;
  max-width: 1200px;
  min-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.infoInForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoInForm label, .infoInForm span{
  margin: 0 5px;
}

.newBlock input {
  min-width: 100px;
  width: 160px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #808080;
}

.tasks {
  max-width: 1200px;
  min-width: 1000px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.tasks ul  {
  font-size: 14px;
  margin-top: 20px;
  padding: 0;
  width: 230px;
}
.tasks ul li {
  width: 220px;
  margin-left: 5px;
  margin-right: 5px;
  list-style: none;
  margin-bottom: 10px;
  background: transparent;
  border: 3px solid #808080;
  overflow: hidden;
}
.tasks li p {
  margin: 0;
  padding: 2px;
  border-bottom: 1px solid #808080;
}

.editTask {
  background: transparent;
  border: none;
  float: right;
  color: #2B00AD;
}

.editTask:hover {
  color: #2B00F0;
  transform: scale(1.1)
}

.editBlock input {
  border: none;
  height: 20px;
  color: #666666;
}

.editBlock div {
  height: 30px;
  display: flex;
  justify-content: space-around;
}

.editBlock button {
  background: transparent;
  border: none;
  color: #00CC14;
  font-size: 20px;
}

.editBlock button:hover {
  color: #00FF11;
}

.inEdition {
   float: right;
}

.editBlock input:first-child {
  width: 40px;
}

.addList {
  color: #333;
  width: 340px;
  height: 135px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background: #A5A5A5;
  align-self: center;
  font-size: 15px;
  margin-top: 30px;
  border-bottom: 2px solid #fff;
  padding-top: 10px;
}

.notification {
  color: #CE2321;
  font-weight: bold;
}
.redStar {
  color: #CE2321;
}
.addList input{
  width: 300px;
  height: 28px;
  border-radius: 5px;
}

.addList p{
  margin: 0;
  margin-top: 10px;
}

.addList p:last-child{
  width:300px;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}


.taskForm {
  width: 340px;
  padding: 20px;
  background: #A5A5A5;
  margin: 0 auto;
  padding-bottom: 10px;
}
.taskForm input , .taskForm select{
  width: 300px;
  height: 28px;
  border-radius: 5px;
  margin: 0 auto;
}

.taskForm p {
  margin: 0;
}

.buttons div{
  display: flex;
  justify-content: space-around;
}

.buttons button {
  border:0;
  background: transparent;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
}
.moveRight i, .moveLeft i {
  color: #86FFFF;
}
.moveRight i:hover, .moveLeft i:hover {
  color: #05E6FF;
}

.deleteTask i {
  color: #FF7285;
}
.deleteTask{
  border:0;
  background: transparent;
  display: inline-block;
}
.listName {
  display: inline-block;
}
.deleteTask i:hover {
  color: #FF4457;
  transform: rotate(10deg);
}

.doneTask i{
  color: #B2FF89;
}
.doneTask i:hover{
    color: #00FF21;
    transform: rotate(10deg);
}

#notification {
  visibility: hidden;
  color: #FF4457;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  transition-delay: 0.5s;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
}


.taskForChanges {
  position: absolute;
  list-style: none;
  border: 2px #808080 solid;
  border-radius: 10px;
  top: 300px;
  padding-left: 0;
}

.taskForChanges input {
  border: none;
}
.taskForChanges p {
  border-bottom: 1px solid #808080;
}

#taskDate, #dueDate {
  width: 130px;
}

select {
  height: 30px;
  border: 2px solid #808080;
  border-radius: 5px;
}

.priorClassHigh {
  color: #FF4457;
}

.priorClassMedium {
  color:  #FFD800;
}
